$bgImageDuration: 3s;


main {
    overflow: hidden; // background-color: white;
    background-size: cover; // background-position: right;
    // background-position: 20%;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0; // height: 100%;
    width: 100%; // animation: bgImgFadeWhite 2s ease;
    &.fadeBgImg {}
    @media screen and (min-width: 768px) {
        // background-position: center;
    }
    &.no-img-icon {
        // animation: fadeOut $bgImageDurationLong ease;
        h1,
        h2,
        p,
        a {
            text-shadow: none;
            color: black;
        }
        h3 a {
            border-bottom: 1px solid black;
        }
    }
    &.img-icon-01d::before {
        background-image: url('../img/01d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-01n::before {
        background-image: url('../img/01n.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-02d::before {
        background-image: url('../img/02d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-02n::before {
        background-image: url('../img/02n.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-03d::before {
        background-image: url('../img/03d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-03n::before {
        background-image: url('../img/03n.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-04d::before {
        background-image: url('../img/04d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-04n::before {
        background-image: url('../img/04n.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-09d::before,
    &.img-icon-09n::before,
    &.img-icon-10d::before,
    &.img-icon-10n::before,
        {
        background-image: url('../img/09d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
    }
    &.img-icon-11d::before,
    &.img-icon-11n::before {
        background-image: url('../img/11d.jpg'); // background-position: center;
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-13d::before,
    &.img-icon-13n::before {
        background-image: url('../img/13d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &.img-icon-50d,
    &.img-icon-50n {
        h1,
        h2,
        p,
        a {
            text-shadow: none;
            color: black;
        }
    }
    &.img-icon-50d::before,
    &.img-icon-50n::before {
        background-image: url('../img/50d.jpg');
        -webkit-animation: bgImgFade $bgImageDuration ease;
        animation: bgImgFade $bgImageDuration ease;
        background-size: cover;
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

@-webkit-keyframes bgImgFade {
    0% {
        opacity: 0; // transform: translate3d(0, 0, 0) skewX(30deg);
        // background-position: 20%;
        overflow: hidden;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        // background-position: 0%;
        opacity: 1;
        -webkit-transform: none;
        transform: none; // background-position: 100% 0%;
        overflow: hidden;
    }
}

@keyframes bgImgFade {
    0% {
        opacity: 0; // transform: translate3d(0, 0, 0) skewX(30deg);
        // background-position: 20%;
        overflow: hidden;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        // background-position: 0%;
        opacity: 1;
        -webkit-transform: none;
        transform: none; // background-position: 100% 0%;
        overflow: hidden;
    }
}