.js-loading,
.js-loading:before,
.js-loading:after {
    animation-play-state: paused !important;
}


body {
    background-color: white;
    background-size: cover;
    // background-position: right;
    // background-position: 20%;
    background-repeat: no-repeat;
    min-height: 100vh;
    // animation: bgImgFadeWhite 2s ease;

    &.fadeBgImg {

    }

    @media screen and (min-width: 768px) {
        // background-position: center;
    }

    &.no-img-icon {
        h1, h2, p, a {
            text-shadow: none;
            color: black;
        }

        h3 a {
            border-bottom: 1px solid black;
        }
        
    }

    &.img-icon-01d {
        background-image: url('../img/01d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-01n {
        background-image: url('../img/01n.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-02d {
        background-image: url('../img/02d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-02n {
        background-image: url('../img/02n.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-03d {
        background-image: url('../img/03d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-03n {
        background-image: url('../img/03n.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-04d {
        background-image: url('../img/04d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-04n {
        background-image: url('../img/04n.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-09d, &.img-icon-09n, &.img-icon-10d, &.img-icon-10n {
        background-image: url('../img/09d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-11d, &.img-icon-11n{
        background-image: url('../img/11d.jpg');
        // background-position: center;
        animation: bgImgFade 2s ease;
    }

    &.img-icon-13d, &.img-icon-13n{
        background-image: url('../img/13d.jpg');
        animation: bgImgFade 2s ease;
    }

    &.img-icon-50d, &.img-icon-50n {
        background-image: url('../img/50d.jpg');
        h1, h2, p, a {
            text-shadow: none;
            color: black;
        }
        animation: bgImgFade 2s ease;
        
    }

}

// @keyframes bgImgFadeWhite {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

@keyframes bgImgFade {
    0% {
        opacity: 0;
        // transform: translate3d(0, 0, 0) skewX(30deg);
        background-position: 20%;
    }
    100% {
        background-position: 0%;
        opacity: 1;
    }
}



