body {
    background-color: white;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 100vh;
    @media screen and (min-width: 768px) {
        background-position: center;
    }

    &.no-img-icon {
        h1, h2, p, a {
            text-shadow: none;
            color: black;
        }
    }

    &.img-icon-01d {
        background-image: url('../img/01d.jpg');
    }

    &.img-icon-02d {
        background-image: url('../img/02d.jpg');
    }

    &.img-icon-03d {
        background-image: url('../img/03d.jpg');
    }

    &.img-icon-04d {
        background-image: url('../img/04d.jpg');
    }

    &.img-icon-09d, &.img-icon-09n, &.img-icon-10d, &.img-icon-10n {
        background-image: url('../img/09d.jpg');
    }

    &.img-icon-11d, &.img-icon-11n{
        background-image: url('../img/11d.jpg');
        background-position: center;
    }

    &.img-icon-13d, &.img-icon-13n{
        background-image: url('../img/13d.jpg');
    }

    &.img-icon-50d, &.img-icon-50n {
        background-image: url('../img/50d.jpg');
        h1, h2, p, a {
            text-shadow: none;
            color: black;
        }
    }

}

