* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-title {
    text-align: center;
    h1 {
        margin: 2rem 0 .5rem 0;
    }
    h2 {
        font-size: 1rem;
        
    }
    h3 {
        font-size: 1rem;
        margin: .5rem 0 1rem 0;
        a {
            color: black;
        }
    }

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    input,
    select {
        width: 100%;
        margin: 0;
        display: block;
        padding: 0.375rem 0.75rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        
    }
    select {
        height: 36px;
    }
    input[type="submit"] {
        cursor: pointer;
        display: block;
        width: 150px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: lightblue;
    }
}

.error {
    text-align: center;
    font-size: 1.25rem;
}

.weather-container {
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 0 auto 2rem auto;
    header {
        background-color: cornflowerblue;
        width: 100%;
        padding-bottom: 1rem;
    
            margin: 0;
        .location-title {
            font-size: 2rem;
            padding: 1rem 1rem;
            margin: 0;
        }
        .lat-long {
            margin: 0;
            padding: 0 1rem;
        }
    }

    .weather-card-inner {
        display: block;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .weather-block {
        position: relative;
        margin-bottom: 6rem;
        .time {
            font-size: 1.2rem;
        }
        .weather-current {
            position: absolute;
            top: 80px;
            left: auto;
            right: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    

    
    
    img {
        width: 100px;
        margin: 0;
        padding: 0;
    }
    .weather-temp-current {
        font-size: 3rem;
        margin: 0 0 0 1.3rem;
        .current-temps {
            // display: flex;
            vertical-align: super;
            border-radius: 5px;
            a {
                // background-color: white;
                font-size: 1.2rem;
                cursor: pointer;
                display: inline-block;
                margin: 0 0rem;
                padding: 0.5rem; 
                vertical-align: super;
                
                // &.active-temp-unit {
                //     // background-color: #0BB5FF;
                //     cursor: auto;
                //     transition: all 0.5s ease-in-out;
                // }
                &.active-temp-unit {
                    color: cornflowerblue;
                    border-radius: 5px;
                    cursor: auto;
                }
                
            }
            span {
                font-size: 1.2rem;
                vertical-align: super;
            }
        }
    }
    .weather-hi-low {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        p {
            padding: 0;
            margin: .3rem 0;
        }
    }
    iframe {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
        max-height: 400px;
        height: 400px;
        padding-top: 3rem;
    }
}

.location-block {
    padding-top: 3rem;
}